{% extends "1Navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" />
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdpn.io/cp/internal/boomboom/pen.js?key=pen.js-6699adc3-2026-2be3-3a30-6890e859a448" ></script>
    <link rel="stylesheet" href="{% static 'css/EARTH TONES.css' %}">

    <title>{% block title %} Earthtones {% endblock %}</title>
</head>
<body>
    <div class="productList1" id="productList1_">
        <div class="productWidget">
            <div class="row ">
                <div class="item col-6 col-md-6 col-lg-3 mobileProductList1">
                    <div class="itemInner rounded" style="display: flex; overflow: hidden; width: 100%;">
                        <div class="thumbnail border rounded">
                            <div class="productImage rounded-top">
      <img class="mx-auto" src="https://media.discordapp.net/attachments/833338142873354300/834418000664854548/image1.jpg?width=564&amp;height=587" data-src="https://media.discordapp.net/attachments/833338142873354300/834418000664854548/image1.jpg?width=564&amp;height=587" >
                            </div>
                                <div class="productCaption">
                                    <div class="productName">
                                        <h3 class="h3-hover">Brown Tank Crop</h3>
                                    </div>                                                                                                                                                                                                              
                            <div class="productIntro">
                                <p>This will crop take you back in 90' </p> </div>                                                                                                                                                               
                                    <div class="productPrice">
                                 <div class="ff-price fs-price fc-price">
                            <span class="SpePrice">฿ 400 </span>
                                    </div>   
                                </div>                                                                                                                                 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-6 col-md-6 col-lg-3 mobileProductList1">
                    <div class="itemInner rounded" style="display: flex; overflow: hidden; width: 100%;">
                        <div class="thumbnail border rounded">
                            <div class="productImage rounded-top">
      <img class="mx-auto" src="https://media.discordapp.net/attachments/833338142873354300/834418001071439912/image2.jpg?width=466&height=586" data-src="https://media.discordapp.net/attachments/833338142873354300/834418001071439912/image2.jpg?width=466&height=586" >
                            </div>
                                <div class="productCaption">
                                    <div class="productName">
                                        <h3 class="h3-hover">Minimal Plate Set</h3>
                                    </div>                                                                                                                                                                                                              
                            <div class="productIntro">
                                <p> Take me to your party! </p> </div>                                                                                                                                                               
                                    <div class="productPrice">
                                 <div class="ff-price fs-price fc-price">
                            <span class="SpePrice">฿ 480 </span>
                                    </div>   
                                </div>                                                                                                                                 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-6 col-md-6 col-lg-3 mobileProductList1">
                    <div class="itemInner rounded" style="display: flex; overflow: hidden; width: 100%;">
                        <div class="thumbnail border rounded">
                            <div class="productImage rounded-top">
      <img class="mx-auto" src="https://media.discordapp.net/attachments/833338142873354300/834418001259397120/image3.jpg?width=420&height=587" data-src="https://media.discordapp.net/attachments/833338142873354300/834418001259397120/image3.jpg?width=420&height=587" >
                            </div>
                                <div class="productCaption">
                                    <div class="productName">
                                        <h3 class="h3-hover">Boby Candle</h3>
                                    </div>                                                                                                                                                                                                              
                            <div class="productIntro">
                                <p> Body candle shape(no scent) </p> </div>                                                                                                                                                               
                                    <div class="productPrice">
                                 <div class="ff-price fs-price fc-price">
                            <span class="SpePrice">฿ 250 </span>
                                    </div>   
                                </div>                                                                                                                                 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-6 col-md-6 col-lg-3 mobileProductList1">
                    <div class="itemInner rounded" style="display: flex; overflow: hidden; width: 100%;">
                        <div class="thumbnail border rounded">
                            <div class="productImage rounded-top">
      <img class="mx-auto" src="https://media.discordapp.net/attachments/833338142873354300/834418001553391646/image4.jpg?width=586&height=586" data-src="https://media.discordapp.net/attachments/833338142873354300/834418001553391646/image4.jpg?width=586&height=586">
                            </div>
                                <div class="productCaption">
                                    <div class="productName">
                                        <h3 class="h3-hover">Heart Vase</h3>
                                    </div>                                                                                                                                                                                                              
                            <div class="productIntro">
                                <p> Heart shape vase </p> </div>                                                                                                                                                               
                                    <div class="productPrice">
                                 <div class="ff-price fs-price fc-price">
                            <span class="SpePrice">฿ 550 per piece </span>
                                    </div>   
                                </div>                                                                                                                                 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-6 col-md-6 col-lg-3 mobileProductList1">
                    <div class="itemInner rounded" style="display: flex; overflow: hidden; width: 100%;">
                        <div class="thumbnail border rounded">
                            <div class="productImage rounded-top">
      <img class="mx-auto" src="https://media.discordapp.net/attachments/833338142873354300/834418001784733696/image5.jpg?width=579&height=586" data-src="https://media.discordapp.net/attachments/833338142873354300/834418001784733696/image5.jpg?width=579&height=586" >
                            </div>
                                <div class="productCaption">
                                    <div class="productName">
                                        <h3 class="h3-hover"> Fly Me To The Moon </h3>
                                    </div>                                                                                                                                                                                                              
                            <div class="productIntro">
                                <p> Moon lamp shape </p> </div>                                                                                                                                                               
                                    <div class="productPrice">
                                 <div class="ff-price fs-price fc-price">
                            <span class="SpePrice">฿ 590 </span>
                                    </div>   
                                </div>                                                                                                                                 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-6 col-md-6 col-lg-3 mobileProductList1">
                    <div class="itemInner rounded" style="display: flex; overflow: hidden; width: 100%;">
                        <div class="thumbnail border rounded">
                            <div class="productImage rounded-top">
      <img class="mx-auto" src="https://media.discordapp.net/attachments/833338142873354300/834418002056314910/image6.jpg?width=469&height=586" data-src="https://media.discordapp.net/attachments/833338142873354300/834418002056314910/image6.jpg?width=469&height=586" >
                            </div>
                                <div class="productCaption">
                                    <div class="productName">
                                        <h3 class="h3-hover">Chzins</h3>
                                    </div>                                                                                                                                                                                                              
                            <div class="productIntro">
                                <p>Gold-chain earrings(Brass+18K) </p> </div>                                                                                                                                                               
                                    <div class="productPrice">
                                 <div class="ff-price fs-price fc-price">
                            <span class="SpePrice">฿ 250 </span>
                                    </div>   
                                </div>                                                                                                                                 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-6 col-md-6 col-lg-3 mobileProductList1">
                    <div class="itemInner rounded" style="display: flex; overflow: hidden; width: 100%;">
                        <div class="thumbnail border rounded">
                            <div class="productImage rounded-top">
      <img class="mx-auto" src="https://media.discordapp.net/attachments/833338142873354300/834418002279137290/image7.jpg?width=440&height=586" data-src="https://media.discordapp.net/attachments/833338142873354300/834418002279137290/image7.jpg?width=440&height=586" >
                            </div>
                                <div class="productCaption">
                                    <div class="productName">
                                        <h3 class="h3-hover">Brown Bucket</h3>
                                    </div>                                                                                                                                                                                                              
                            <div class="productIntro">
                                <p> Soft brown bucket,fit to every gender </p> </div>                                                                                                                                                               
                                    <div class="productPrice">
                                 <div class="ff-price fs-price fc-price">
                            <span class="SpePrice">฿ 380 </span>
                                    </div>   
                                </div>                                                                                                                                 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item col-6 col-md-6 col-lg-3 mobileProductList1">
                    <div class="itemInner rounded" style="display: flex; overflow: hidden; width: 100%;">
                        <div class="thumbnail border rounded">
                            <div class="productImage rounded-top">
      <img class="mx-auto" src="https://media.discordapp.net/attachments/833338142873354300/834827449459146782/image2.png?width=396&height=587" data-src="https://media.discordapp.net/attachments/833338142873354300/834827449459146782/image2.png?width=396&height=587" >
                            </div>
                                <div class="productCaption">
                                    <div class="productName">
                                        <h3 class="h3-hover">Japenese Denim</h3>
                                    </div>                                                                                                                                                                                                              
                            <div class="productIntro">
                                <p> Comfy and fit to every style</p> </div>                                                                                                                                                               
                                    <div class="productPrice">
                                 <div class="ff-price fs-price fc-price">
                            <span class="SpePrice">฿ 790 </span>
                                    </div>   
                                </div>                                                                                                                                 
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

    <footer>
		<div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
			<div class="container">
				<div class="row">
                    <div class="col-lg-4 col-md-6 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4">NEWSLETTER SIGNUP</h6>
                        <div class="p-1 rounded border">
                          <div class="input-group">
                            <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                            <div class="input-group-append">
                              <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
                            </div>
                          </div>
                        </div>
						<h5 class="card-title text-white display-4" style="font-size:16px">SOCIAL LINKS</h5>
					
							<a class="text-light" href="#"><i class="fab fa-facebook-square fa-fw fa-2x"></i></a>
								
							<a class="text-light" href="#"><i class="fab fa-twitter-square fa-fw fa-2x"></i></a>
								
							<a class="text-light" href="#"><i class="fab fa-instagram fa-fw fa-2x"></i></a>
								
                            <h5 class="card-title text-white display-4" style="font-size:15px">Don’t forget follow us !!</h5>
                    </div>
					
					<div class="col-sm-8 col-md-6">
							<div class="footermenu">
							    <h5 class="card-title text-white display-4" style="font-size:18px">FOOTER MENU</h5>
                  <a class="text-light" href="#"><h6 class="card-title text-white" style="font-size:16px">Colorful</h6></a>
                  <a class="text-light" href="#"><h6 class="card-title text-white" style="font-size:16px">Earthtones</h6></a>
                  <a class="text-light" href="#"><h6 class="card-title text-white" style="font-size:16px">About us</h6></a>
					
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</footer>

      </body>
      </html>    
</body>
</html>
{% endblock %}