{% extends "2Navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/newpass.css">
    <link rel="stylesheet" href="{ % static 'css/newpass.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

    <title>{% block title %} Reset Password {% endblock %}</title>
    <style>
        .group button {
            background-color: #AC87B6;
            border: 0px solid white;
            color: #FAFFA6;
            padding: 10px 24px;
            width: 70%;
            display: block;
            margin-left: 20%;
        }
        
        .group button:hover {
            color: white;
        }
        
        a:visited {
            color: #FAFFA6;
            background-color: transparent;
            text-decoration: none;
        }
        
        a:hover {
            color: #F4A8A8;
            background-color: transparent;
            text-decoration: none;
        }

        .dropdown-menu{
            background-color: #F4A8A8;
            border: 0px #F4A8A8;
        }
    </style>
</head>

<body>
    

    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-md-5">
                <!--แบ่งเป็น4ส่วน-->
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-user" src="https://images-ext-1.discordapp.net/external/rccVW1Kaw-KifRFw0uXeKGrThbqr6RCTT68zvDEIBQs/%3Fid%3DOIP.YdlDDfOYR0-XY2Kr1ahQGwAAAA%26pid%3DApi%26P%3D0%26w%3D300%26h%3D300/https/tse2.mm.bing.net/th">
                                    </div>

                                    <div class="col-6">
                                        <div class="btn-2" style="font-size: 12px;">
                                            USERNAME
                                        </div>
                                        <div class="btn-3" style="font-size: 12px;">
                                            EDIT PROFILE
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="middle d-none d-lg-block">
                                <div class="group">
                                    <button type="button"><a href="/tracking">My Order</a></button>
                                    <button type="button"><a href="/accountprofile">Account Profile</a></button>
                                    <button type="button"><a href="/address">Address</a></button>
                                    <button type="button"><a href="/newpass">Change Password</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--กรอก password)-->
            <div class="col-md-7">

                <div class="wrapper">
                    <div class="middle">
                        <div class="mb-3 card-item icon-relative">
                            <label for="formGroupExampleInput" class="label">New Password</label>
                            <input type="password" class="input" id="txtPassword" name=password" value="" required>
                            <i class="fas fa-lock"></i>

                        </div>

                        <div class="mb-3 card-item icon-relative">
                            <label for="formGroupExampleInput2" class="label">Confirm Password</label>
                            <input type="password" class="input" id="txtPassword" name="repassword" value="" required>
                            <i class="fas fa-check-circle"></i>
                        </div>

                        <div class="btn-1">
                            CONFIRM
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4">NEWSLETTER SIGNUP</h6>
                        <div class="p-1 rounded border">
                            <div class="input-group">
                                <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                                <div class="input-group-append icon-relative">
                                    <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title text-white display-4" style="font-size:16px">SOCIAL LINKS</h5>

                        <a class="text-light" href="#"><i class="fab fa-facebook-square fa-fw fa-2x"></i></a>

                        <a class="text-light icon-relative" href="#"><i class="icon-relative fab fa-twitter-square fa-fw fa-2x"></i></a>

                        <a class="text-light icon-relative" href="#"><i class="icon-relative fab fa-instagram fa-fw fa-2x"></i></a>

                        <h5 class="card-title text-white display-4" style="font-size:15px">Don’t forget follow us !!</h5>
                    </div>

                    <div class="col-sm-8 col-md-6">
                        <div class="footermenu">
                            <h5 class="card-title text-white display-4" style="font-size:18px">FOOTER MENU</h5>
                            <a class="text-light" href="#">
                                <h6 class="card-title text-white" style="font-size:16px">Colorful</h6>
                            </a>
                            <a class="text-light" href="#">
                                <h6 class="card-title text-white" style="font-size:16px">Earthtones</h6>
                            </a>
                            <a class="text-light" href="#">
                                <h6 class="card-title text-white" style="font-size:16px">About us</h6>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>


</body>

</html>
{% endblock content %}