{% extends "1Navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/open_box.css'%}">
  <link rel="stylesheet" href="https://code.jquery.com/jquery-3.4.1.min.js" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" />
  <script
    src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdpn.io/cp/internal/boomboom/pen.js?key=pen.js-6699adc3-2026-2be3-3a30-6890e859a448"></script>
  <title>{% block title %} OpenBox {% endblock %}</title>
</head>

<body>
 
  <a href="/ProductDetail?type=Colourful">
  <div class="openbox" >

    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="col-12 mt-5 d-flex justify-content-center">
            <div class="box">
              <div class="box-body">
                <div class="box-lid">
                  <div class="box-bowtie"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>

  <footer>
    <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">NEWSLETTER SIGNUP</h6>
            <div class="p-1 rounded border">
              <div class="input-group">
                <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1"
                  class="form-control border-0 shadow-0">
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link"><i
                      class="fa fa-paper-plane"></i></button>
                </div>
              </div>
            </div>
            <h5 class="card-title text-white display-4" style="font-size:16px">SOCIAL LINKS</h5>

            <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>

            <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>

            <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>

            <h5 class="card-title text-white display-4" style="font-size:15px">Don’t forget follow us !!</h5>
          </div>

          <div class="col-sm-8 col-md-6">
            <div class="footermenu">
              <h5 class="card-title text-white display-4" style="font-size:18px">FOOTER MENU</h5>
              <a class="text-light" href="#">
                <h6 class="card-title text-white" style="font-size:16px">Colorful</h6>
              </a>
              <a class="text-light" href="#">
                <h6 class="card-title text-white" style="font-size:16px">Earthtones</h6>
              </a>
              <a class="text-light" href="#">
                <h6 class="card-title text-white" style="font-size:16px">About us</h6>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>




</body>

</html>
{% endblock %}