{% extends "1Navbar.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} Register {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<script src="{% static 'js/navbar.js' %"></script>

</head>
<body>

    <div class="row" style="padding: 0px;margin: 0px;">
        <div class="col-md" style="text-align: center;">
            <img class="indexImage" src="{% static 'img/1.jpg' %}"> 
        </div>
        <div class="col-md" style="text-align: center;">
            <div class="CreateAccountContent">
                <form name="form1" enctype="multipart/form-data" method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8" style="text-align: left;">
                            <label><b> Username *</b></label>
                            <input type="text" class="form-control" id="txtUsername" name="username" value="" required >

                            <ul style="list-style: none;font-size: 14px;padding-inline-start: 0px;margin-top: 10px;">
                                <li>Required. 150 characters or fewer. Letters, digits and @ / . / + / - / _ only</li>
                            </ul>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8" style="text-align: left;">
                            <label><b>Email *</b></label>
                            <input type="text" class="form-control" id="txtPhoneNumber" name="email" value="" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8" style="text-align: left;">
                            <label><b>Password *</b></label>
                            <input type="password" class="form-control"  id="txtPassword" name="password" value="" required >

                            <ul style="list-style: '-  ';font-size: 14px;padding-inline-start: 1em;margin-top: 10px;">
                                <li>Your password can't be too similar to your other personal information.</li>
                                <li>Your password must contain at least & characters.</li>
                                <li>Your password can't be a commonly used password.</li>
                                <li>Your password can't be entirely numberic.</li>
                            </ul>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8" style="text-align: left;">
                            <label><b>Password Confirmation *</b></label>
                            <input type="password" class="form-control" id="txtPasswordConfirmation" name="repassword" value="" required > 

                            <ul style="list-style: none;font-size: 14px;padding-inline-start: 0px;margin-top: 10px;">
                                <li>Enter the same password as before, for verification.</li>
                            </ul>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8" style="text-align: center;margin-top: 15px;">
                            <button class="button"><b>Register</b></button><br>

                            <ul style="list-style: none;font-size: 14px;padding-inline-start: 0px;margin-top: 10px;">
                                <li>
                                    Do you have a account? 
                                    <a href="#">Click here to Login</a>                                
                                </li>
                            </ul>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
   


    
    <!---------------footer----------------------->
    <footer>
        <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4">NEWSLETTER SIGNUP</h6>
                        <div class="p-1 rounded border">
                        <div class="input-group">
                            <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                            <div class="input-group-append icon-relative">
                            <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                        </div>
                        <h5 class="card-title text-white display-4" style="font-size:16px">SOCIAL LINKS</h5>
                    
                            <a class="text-light" href="#"><i class="fab fa-facebook-square fa-fw fa-2x"></i></a>
                                
                            <a class="text-light icon-relative" href="#"><i class="icon-relative fab fa-twitter-square fa-fw fa-2x"></i></a>
                                
                            <a class="text-light icon-relative" href="#"><i class="icon-relative fab fa-instagram fa-fw fa-2x"></i></a>
                                
                            <h5 class="card-title text-white display-4" style="font-size:15px">Don’t forget follow us !!</h5>
                    </div>
                    
                    <div class="col-sm-8 col-md-6">
                            <div class="footermenu">
                                <h5 class="card-title text-white display-4" style="font-size:18px">FOOTER MENU</h5>
                <a class="text-light" href="#"><h6 class="card-title text-white" style="font-size:16px">Colorful</h6></a>
                <a class="text-light" href="#"><h6 class="card-title text-white" style="font-size:16px">Earthtones</h6></a>
                <a class="text-light" href="#"><h6 class="card-title text-white" style="font-size:16px">About us</h6></a>
                    
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
{% endblock content %}
