asgiref
beautifulsoup4
boto
Cactus
certifi
cffi
chardet
colorama
colorlog
cryptography
defusedxml
Django
django-crispy-forms
django-extensions
django-markwhat
idna
keyring
markdown2
oauthlib
Pillow
psycopg2
pycparser
PyJWT
python3-openid
pytz
requests
six
soupsieve
sqlparse
tornado
urllib3
wincertstore