@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
footer a.text-light:hover {
    color: #F4A8A8 !important;
    text-decoration: none;
}

footer .cizgi {
    border-right: 1px solid #535e67;
}

@media (max-width: 992px) {
    footer .cizgi {
        border-right: none;
    }
}