@import url('https://fonts.googleapis.com/css?family=Roboto');

/*----------multi-level-accordian-menu------------*/

.logo img{
    margin-top: 1.2px;
    padding: 0px;
    height: 60px;
    padding-left: 30px;
  }
  .pichome img{
    width: 100%;
    height: auto;
  }
  
  .pichome{
    margin-bottom: -50px;
  }
  .navbar-mainbg{
      width: 100%;
      background-color: #F4A8A8;
      padding: 0px;
  }
  #navbarSupportedContent{
  overflow: hidden;
  position: relative;
  }
  
  #navbarSupportedContent ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    position: relative;
  }
  #navbarSupportedContent ul li a:hover{
    color:rgb(65, 65, 66) ;
  }
  
  
  
  /*---------------- Search bar-------------------*/
  
  .search-box {
      position: relative;
      height: 34px;
    margin-right: 20px;
  }
  .search-box input {
      border: 0;
      border-radius: 3px !important;
      padding-right: 40px;
      font-size: 15px;
  }
  
  
  .search-box .input-group-btn {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
  }
  .search-box .input-group-btn button {
      background-color: transparent;
      border: 0;
      padding: 4px 8px;
      font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
  
      .search-box {
          position: relative;
      margin-bottom: 20px;
      }
  
      .search-box input {
          margin-left:25px !important;
          margin-right:25px;
      }
  
      .search-box .input-group-btn button{
          margin-left: -65px;
      }
  }
  
  /*-------------responsive navbar--------------------*/
  @media(min-width: 992px){
  .navbar-expand-custom {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
  display: none;
  }
  .navbar-expand-custom .navbar-collapse {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  }
  }
  @media (max-width: 991px){
  #navbarSupportedContent ul li a{
    padding: 12px 30px;
  }
  .hori-selector{
  margin-top: 0px;
  margin-left: 10px;
  border-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right{
  right: 10px;
  }
  .hori-selector .left{
  top: -25px;
  left: auto;
  }
  .hori-selector .right{
  bottom: -25px;
  }
  .hori-selector .left:before{
  left: -25px;
  top: -25px;
  }
  .hori-selector .right:before{
  bottom: -25px;
  left: -25px;
  }
  }
  
  /*------button-----*/
  .carousel-control-prev, .carousel-control-next{
    height: 100%;
    width: 20%;
    margin-top: 0px;
}
  .carousel-caption a {
    display: inline-block;
    padding: 15px;
    background: #F4A8A8;
    color: white;
    font-size: 40px;
    border-radius: 30px;
    font-weight: 600;
  }
  .carousel-caption a:link {
    text-decoration: none;
  }
  .carousel-caption{
    margin-bottom: 17%;
    margin-right: 54%;
  }

  @media (max-width: 991px){
    .carousel-caption a{
    font-size: 80%;
    padding: 2px;
    width:60%;
    }
    .carousel-caption{
        margin-bottom: 12%;
    }
  }

  @media (min-width: 992px){
    .carousel-caption a{
    font-size: 170%;
    padding: 5px;
    width:60%;
    }
    .carousel-caption{
        margin-bottom: 19%;
    }
  }
  @media (max-width: 600px){
    .carousel-caption a{
        font-size: 50%;
        padding: 2px;
        width:80%;
        }
        .carousel-caption{
            margin-bottom: 7%;
        }
  }



  @import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
  
  footer a.text-light:hover { color: #F4A8A8 !important; }
  footer .cizgi { border-right: 1px solid #535e67; }
  
  .row h6 {
      color: white;
  }
  
  .row h5 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: bold;
  }
  
  .row button {
      color: white;
      margin-top: auto;
      margin-left: auto;
  }
  
  .row button:hover {
      color: #F4A8A8;
  }
  
  .footermenu {
      margin-left: 75%;
  }
  
  .footermenu h5{
      text-align: center;
  }
  
  @media screen and (max-width: 768px){
      .footermenu {
          text-align: center;
          margin-left: 0%;
      }
  }
  
  @media (min-width: 992px) { footer .cizgi { border-right: none; } }  