@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


.logo img{
    margin-top: 1.2px;
    padding: 20px;
    height: 60px;
    padding-left: 30px;
  }
  
  .navbar-mainbg{
      width: 100%;
      background-color: #F4A8A8;
      padding: 0px;
  }
  #navbarSupportedContent{
  overflow: hidden;
  position: relative;
  }
  
  #navbarSupportedContent ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    position: relative;
  }
  #navbarSupportedContent ul li a:hover{
    color:rgb(65, 65, 66) ;
  }
  
  
  
  /*---------------- Search bar-------------------*/
  
  .search-box {
      position: relative;
      height: 34px;
    margin-right: 20px;
  }
  .search-box input {
      border: 0;
      border-radius: 3px !important;
      padding-right: 40px;
      font-size: 15px;
  }
  
  
  .search-box .input-group-btn {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
  }
  .search-box .input-group-btn button {
      background-color: transparent;
      border: 0;
      padding: 4px 8px;
      font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
  
      .search-box {
          position: relative;
      margin-bottom: 20px;
      }
  
      .search-box input {
          margin-left:25px !important;
          margin-right:25px;
      }
  
      .search-box .input-group-btn button{
          margin-left: -65px;
      }
  }
  
  /*-------------responsive navbar--------------------*/
  @media(min-width: 992px){
  .navbar-expand-custom {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
  display: none;
  }
  .navbar-expand-custom .navbar-collapse {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  }
  }
  @media (max-width: 991px){
  #navbarSupportedContent ul li a{
    padding: 12px 30px;
  }
  .hori-selector{
  margin-top: 0px;
  margin-left: 10px;
  border-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right{
  right: 10px;
  }
  .hori-selector .left{
  top: -25px;
  left: auto;
  }
  .hori-selector .right{
  bottom: -25px;
  }
  .hori-selector .left:before{
  left: -25px;
  top: -25px;
  }
  .hori-selector .right:before{
  bottom: -25px;
  left: -25px;
  }
}

/*-------------------content----------------*/
.left-column img{
	width: 60%;
	margin-top: 5%;
	margin-left: 20%;
    margin-bottom: 10%;
}
.product-description{
	border-bottom: 1px solid #e1eaee;
    margin-bottom: 20px;
}
.product-description h1{
	font-weight: 15px;
    font-size: 40px;
    color: #43484D;
    letter-spacing: -2px;
   	margin-top: 500%;
   	margin-left: 200%;
}
.product-description span{
	font-size: 12px;
    color: #5092f7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description p {
    font-size: 15px;
    font-weight: 0px;
    color: #86939E;
    line-height: 24px;
    margin-left: -340px;
    text-align: center;
}
.product-price{
	align-items: center;
}
.continue-btn {
    display: inline-block;
    background-color: #F4A8A8;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
    margin-top: 59px;
    margin-left: 290px;
}
.continue-btn:hover {
    background-color: #b9b9b9;
    text-decoration: none;
}
/*-----------------end of content --------------------*/

/*------------------- responsive content ------------------------*/
@media screen and (max-width: 420px){
	.product-description h1{
		font-size: 30px;
		margin-left: 15%;
		margin-top: 10%;
	}
	.product-description p{
		font-size: 15px;
		margin-left: 1%;
	}
	.continue-btn{
		margin-left: 30%;
		margin-top: 10%;
	}
}
@media screen and (min-width: 421px){
	.product-description h1{
		font-size: 35px;
		margin-left: 20%;
		margin-top: -10%;
	}
	.product-description p{
		margin-left: 0;
	}
	.continue-btn{
		margin-left: 40%;
	}
}
@media screen and (min-width: 576px){
	.product-description h1{
		font-size: 30px;
		margin-left: 10%;
		margin-top: 15%;
	}
	.product-description p{
		font-size: 15px;
		margin-left: -50%;
		
	}
	.product-description span{
		font-size: 10px;
	}
	.continue-btn{
		margin-left: 15%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .product-description h1{
        font-size: 30px;
    }
    .product-description p{
        margin-left: -10%;
    }
    .continue-btn{
        margin-left: 20%;
        margin-bottom: 90%;
    }
    

}



/*-------------------------footer----------------------------------*/


footer a.text-light:hover { color: hsl(0, 78%, 81%) !important; }
footer .cizgi { border-right: 1px solid #535e67; }

.row h6 {
    color: white;
}
.row h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.row button {
    color: white;
    margin-top: auto;
    margin-left: auto;
}
.row button:hover {
    color: #F4A8A8;
}
.footermenu {
    margin-left: 75%;
}
.footermenu h5{
    text-align: center;
}
/*---------------------------responsive footer-----------------------------*/

@media screen and (max-width: 768px){
    .footermenu {
        text-align: center;
        margin-left: 0%;
    }
}

@media (min-width: 992px) { footer .cizgi { border-right: none; } }


